.header {
    background-color: #00BFFF;
    /*This is a blue gradient background, maybe I could use.  But it is really ugly code.*/
    /*background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(117,177,209,1) 50%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(50%, rgba(117,177,209,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(117,177,209,1) 50%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(117,177,209,1) 50%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(117,177,209,1) 50%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(117,177,209,1) 50%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
  */
    color:white;
    text-align:center;
    padding:5px;
}
.nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
.twit-feed {
    width:350px;
    float:left;
    padding:10px;
}
.footer {
    background-color: #00BFFF;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
